{% set title = "Logos page" %}
{% extends "layouts/master.njk" %}

{% block content %}
	<div id="app">
		<input v-model="inputValue" type="text">
		{{inputValue}} {# <-- i can use the brackets now #}

		<ul>
			<list-item v-bind:value="inputValue"></list-item>
		</ul>
	</div>
{% endblock %}