@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/functions';
@import 'vendor/libs';
@import 'base/fonts';
@import 'base/general';
@import '../blocks/components/components';
@import '../blocks/modules/modules';

main {
  display: flex;
  justify-content: space-around;
}

.shop-list {
  background-color: rgb(228, 228, 228);
  padding: 40px;
}