extends layouts/default
include helpers/mixins

block variables
	- const title = "Logos gulp-pug-starter"

block content
	h1.heading Main page

	button#js-lang.lang

	div(data-component="dropdown-1")
		button.drop_btn Lang
		ul.drop_list
			li ua
			li ru

	div(data-component="dropdown-2")
		button.drop_btn Salary
		ul.drop_list
			li uah
			li rus